@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  height: 100%;
  /* max-width: 1250px;
  margin: auto; */
}

#mobile-nav {
  display: none;
  visibility: hidden;
}

.nav-hamburger {
  color: white;
  position: fixed;
  right: 0;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/*navbar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #eeaa11;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 3.5px;
}

.sidenav a {
  padding: 8px 8px 8px 35px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
  color: white;
}

.surf-nav:hover {
  color: #f7684f;
}

.clothing-nav:hover {
  color: #e2d68c;
}

.adventure-nav:hover {
  color: #3ed89b;
}

.ceramics-nav:hover {
  color: #a77ec1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.logo {
  font-size: 70px;
  padding: 30px;
  color: #7caeff;
}

.bloc h1 {
  font-family: 'Playfair Display', serif;
}

.details {
  padding-top: 20px;
  text-align: center;
  color: white;
  height:200px;
  background-color: #7caeff;
  line-height: 23px;
  padding: 20px;
}

.details h2{
  color:#ffddcc;
}

a {
  outline: none;
  border: 0;
  text-decoration: none;
  color: #ffffff;
}

/* Grids */
.grid-surf, .grid-clothing, .grid-adventure, .grid-ceramics{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
  margin: auto;
  max-width: 1000px;
}

.parallax {
  background-image: url("https://cdn.dribbble.com/users/131989/screenshots/3505133/sittingonpool_dribble_v02.mp4.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-surf {
  font-size: 50px;
  padding: 30px;
  color: #dbd878;
}

.parallax2 {
  background-image: url("https://cdn.dribbble.com/users/40298/screenshots/3861789/drawing-lines.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-clothing {
  font-size: 50px;
  padding: 30px;
  color: #b173ba;
}

.parallax3 {
  background-image: url("https://cdn.dribbble.com/users/515528/screenshots/2835415/balance.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-adventure {
  font-size: 50px;
  padding: 30px;
  color: #78dba1;
}

.parallax4 {
  background-image: url("https://cdn.dribbble.com/users/948894/screenshots/2381305/dribblewalk.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-ceramics {
  font-size: 50px;
  padding: 30px;
  color: #f96645;
}

.parallax5 {
  background-image: url("https://cdn.dribbble.com/users/131989/screenshots/3632482/plantinspo-v02-dribble.mp4.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* grid children styles */
.name{
  text-transform: lowercase;
  font-size: 2rem;
  padding-right: 10px;
  letter-spacing: .1rem;
  color: #fff;

}
.address p{
  font-size: .8rem;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.about{
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
  font-weight: lighter;
  color: #fff;
}

.cosube, .up-north, .leeward, .back-talk, .mister-sister, .seven-sisters, .next-ad, .outdoor, .wornpath, .mantel, .made-here, .canoe{
  padding: 15px;
}

.surf{
  background-color: #dbd878;
}

.clothing{
  background-color: #b173ba;
}

.adventure{
  background-color: #78dba1;
}

.ceramics{
  background-color: #f96645;
}

img{
  position: relative;
  overflow: hidden;
  transition: all .4s ease-in-out;
  width: 293px;
}

img:hover{
  opacity: .8;
  transform: scale(1.1);
}

svg {
  height: 30px;
  width: auto;
  -webkit-transition: height 2s;
  transition: height .5s;
}

a svg:hover .svg-mail {
  color: #ffac41;
  height: 60px;
}

svg:hover {
  height: 35px;
}

a svg:hover .svg-linkedIn {
  color: #f7a0f7;
}

a svg:hover .svg-blog {
 color: #e5da85;
}

a svg:hover .svg-fb {
  color: #3ed89b;
}

a svg:hover .svg-ig {
color: #a77ec1;
}

a svg .svg-mail,
a svg .svg-mail,
a svg .svg-blog,
a svg .svg-ig,
a svg .svg-fb
 {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.svg-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.footer {
  background-color: #75aaff;
  min-height: 170px;
  height: 20%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}

.details {
  padding-top: 20px;
  text-align: center;
  color: white;
  height: auto;
  background-color: #7caeff;
  padding: 20px;
}
.details p{
  margin-left: 100px;
  margin-right: 100px;
  line-height: 25px;
  font-size: 1.2rem;
}
.details h2{
  color: #ffddcc;
  margin-bottom: 15px;
}
.details h4{
  margin-bottom: 15px;
}
.footer-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}

.copyright {
  padding-top: 30px;
  color: white;
  text-align: center;
}

.footer-links p:hover:nth-child(1){
  color: #ffac41;
  letter-spacing: 3px;
}

.footer-links p:hover:nth-child(2){
  color: #40cf9a;
  letter-spacing: 3px;
}

.footer-links p:hover:nth-child(3){
  color: #e2d68c;
  letter-spacing: 3px;
}

.footer-links p:hover:nth-child(4){
  color: #a77ec1;
  letter-spacing: 3px;
}

/* grid children styles */
.name{
  text-transform: lowercase;
  font-size: 2rem;
  padding-right: 10px;
  letter-spacing: .1rem;
  color: #fff;
  transition: all .2s ease-in-out;
}
.address p{
  font-size: .8rem;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.about{
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
  font-weight: lighter;
  color: #fff;
}
.cosube, .up-north, .leeward, .back-talk, .mister-sister, .seven-sisters, .next-ad, .outdoor, .wornpath, .mantel, .made-here, .canoe{
  padding: 15px;
}
.surf{
  background-color: #dbd878;
  height: 561px;
}
.clothing{
  background-color: #b173ba;
  height: 731px;
}
.adventure{
  background-color: #78dba1;
  height: 580px;
}
.ceramics{
  background-color: #f96645;
  height: 600px;
}
img{
  width: 293px;
  height: auto;
  padding: 10px;
}
.cosube, .up-north, .leeward, .back-talk, .mister-sister, .seven-sisters, .next-ad, .outdoor, .wornpath, .mantel, .made-here, .canoe{
  transition: all .4s ease-in-out;
}
.cosube:hover, .up-north:hover, .Leeward:hover, .back-talk:hover, .mister-sister:hover, .seven-sisters:hover, .next-ad:hover, .outdoor:hover, .wornpath:hover, .mantel:hover, .made-here:hover, .canoe:hover {
  height: auto;
  opacity: .75;
}
.hide{
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.img:hover ~ .hide{
  visibility: visible;
  opacity: 1;
}
/* media queries */

/*@media (min-width: 300px){

}*/
@media (max-width: 450px){
  span.nav-hamburger, .sidenav {
    display: none;
  }
  #mobile-nav {
    color: black;
    font-size: 25px;
    background-color: #dbd877;
    text-align: center;
    visibility: visible;
    display: block;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    padding:10px;
  }
  .clothing-nav:hover {
    color: #f7a0f7;
  }
  .details {
    height: 430px;
  }
  .details p{
    margin-left: 10px;
    margin-right: 10px;
    line-height: 20px;
  }
  .surf, .clothing, .adventure, .ceramics{
    height: auto;
  }
  .about{
    font-size: 1rem;
  }
  h1{
    font-size: 4.5rem;
  }
  #main-title{
    font-size: 6rem;
  }
  .hide{
    display: block;
  }
  .hide{
    display: block;
  }
  .parallax, .parallax2, .parallax3, .parallax4, .parallax5 {
    background-size: contain;
  }
  .logo {
    padding-bottom: 0;
  }
  .parallax {
    background-size: contain;
    min-height: 700px;
    height: 30%;
  }
  .parallax2, .parallax3, .parallax4, .parallax5 {
    background-size: contain;
    min-height: 200px;
    height: 50%;
  }
  .nav-hamburger{
    color: #dbd877;
  }
}

@media (max-width: 750px) and (min-width: 451px){
  .details p{
    margin-left: 50px;
    margin-right: 50px;
    line-height: 23px;
  }
  .surf, .clothing, .adventure, .ceramics{
    height: auto;
  }
  .surf{
    display: flex;
    justify-content: center;
  }
  .hide{
    display: block;
  }
  .logo {
    padding-bottom: 0;
  }
  .parallax {
    background-size: contain;
    min-height: 700px;
    height: 30%;
  }
  .parallax2, .parallax3, .parallax4, .parallax5 {
    background-size: contain;
    min-height: 200px;
    height: 50%;
  }
  .nav-hamburger{
    color: #dbd877;
  }
}

@media (min-width: 751px) and (max-width: 915px){
  .surf{
    height: 975px;
  }
  .clothing{
    height: 1365px;
  }
  .adventure{
    height:  1035px;
  }
  .ceramics{
    height: 1020px;
  }
  .parallax, .parallax2, .parallax3, .parallax4, .parallax5 {
    background-size: cover;
  }
  .nav-hamburger{
    color: #dbd877;
  }
}
@media (min-width: 916px) and (max-width: 1349px){
  .parallax{
     background-size: cover;
  }
  .nav-hamburger{
    color: #dbd877;
  }
}
@media (min-width: 1350px) {
  body{
    max-width: 1250px;
    margin: auto;
  }
  .parallax, .parallax2, .parallax3, .parallax4, .parallax5 {
    background-size: cover;
  }
  .nav-hamburger {
    display: block;
    color: black;
    position: fixed;
    right: 0;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

}
