@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
  margin: 0;
  box-sizing: border-box;
}

body, html{
  height: 100%;
}

.bloc {

}

.nav-hamburger {
  color: white;
  position: fixed;
  right: 0;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/*navbar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #eeaa11;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 3.5px;
}

.sidenav a {
  padding: 8px 8px 8px 35px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
  color: white;
}

.surf-nav:hover {
  color: #f7684f;
}

.clothing-nav:hover {
  color: #e2d68c;
}

.adventure-nav:hover {
  color: #3ed89b;
}

.ceramics-nav:hover {
  color: #f7a0f7;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.logo {
  font-size: 70px;
  padding: 30px;
  color: #7caeff;
}

.bloc h1 {
  font-family: 'Playfair Display', serif;
}

.details {
  height:200px;
}

a {
  outline: none;
  border: 0;
  text-decoration: none;
  color: #ffffff;
}

/* Grids */
.grid-surf, .grid-clothing, .grid-adventure, .grid-ceramics{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
  margin: auto;
  max-width: 1000px;
  /* align-items: center; */

}

.parallax {
  background-image: url("https://cdn.dribbble.com/users/131989/screenshots/3505133/sittingonpool_dribble_v02.mp4.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-surf {
  font-size: 50px;
  padding: 30px;
  color: #dbd878;
}

.parallax2 {
  background-image: url("https://cdn.dribbble.com/users/40298/screenshots/3861789/drawing-lines.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-clothing {
  font-size: 50px;
  padding: 30px;
  color: #b173ba;
}

.parallax3 {
  background-image: url("https://cdn.dribbble.com/users/131989/screenshots/3313682/hairstyle_01_dribble_v01_1x.png");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-adventure {
  font-size: 50px;
  padding: 30px;
  color: #78dba1;
}

.parallax4 {
  background-image: url("https://cdn.dribbble.com/users/948894/screenshots/2381305/dribblewalk.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-ceramics {
  font-size: 50px;
  padding: 30px;
  color: #f96645;
}

.parallax5 {
  background-image: url("https://cdn.dribbble.com/users/131989/screenshots/3632482/plantinspo-v02-dribble.mp4.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

svg {
  height: 30px;
  width: auto;
  -webkit-transition: height 2s;
  transition: height .5s;
}

a svg:hover .svg-mail {
  color: #ffac41;
  height: 60px;
}

svg:hover {
  height: 35px;
}

a svg:hover .svg-linkedIn {
  color: #f7a0f7;
}

a svg:hover .svg-blog {
 color: #e5da85;
}

a svg:hover .svg-fb {
  color: #3ed89b;
}

a svg:hover .svg-ig {
color: #a77ec1;
}

a svg .svg-mail,
a svg .svg-mail,
a svg .svg-blog,
a svg .svg-ig,
a svg .svg-fb
 {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.svg-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.footer {
  background-color: #75aaff;
  min-height: 170px;
  height: 20%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}


.details {
  height:200px;
  background-color: #7caeff;
}

.footer-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}

.copyright {
  padding-top: 30px;
  color: white;
  text-align: center;
}

.footer-links p:hover:nth-child(1){
  color: #ffac41;
  letter-spacing: 3px;
}

.footer-links p:hover:nth-child(2){
  color: #40cf9a;
  letter-spacing: 3px;
}

.footer-links p:hover:nth-child(3){
  color: #e2d68c;
  letter-spacing: 3px;
}

.footer-links p:hover:nth-child(4){
  color: #a77ec1;
  letter-spacing: 3px;
}

/* grid children styles */
.name{
  text-transform: lowercase;
  font-size: 2rem;
  padding-right: 10px;
  letter-spacing: .1rem;
  color: #fff;
  transition: all .2s ease-in-out;
}
.address p{
  font-size: .8rem;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.about{
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
  font-weight: lighter;
  color: #fff;
}
.cosube, .up-north, .leeward, .back-talk, .mister-sister, .seven-sisters, .next-ad, .outdoor, .wornpath, .mantel, .made-here, .canoe{
  padding: 15px;
}
.surf{
  background-color: #dbd878;
  height: 561px;
}
.clothing{
  background-color: #b173ba;
  height: 731px;
}
.adventure{
  background-color: #78dba1;
  height: 580px;
}
.ceramics{
  background-color: #f96645;
  height: 600px;
}
img{
  transition: all .4s ease-in-out;
  width: 293px;
  height: auto;
  padding: 10px;
}
img:hover{
  width: 293px;
  height: auto;
  opacity: .75;
}
.hide{
  display: none;
}
.img:hover ~ .hide{
  display: block;
}
.img:hover ~ .name{
  font-size: smaller;
}
