@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
  margin: 0;
}

body, html{
  height: 100%;
}

.bloc {

}

.logo {
  font-size: 70px;
  padding: 30px;
  color: #7caeff;
}

.bloc h1 {
  font-family: 'Playfair Display', serif;
}

a {
  outline: none;
  border: 0;
  text-decoration: none;
  color: #ffffff;
}

svg {
  height: 60px;
  width: auto;
}

a svg:hover .svg-mail {
 color: #a0f7e1;
}

a svg:hover .svg-linkedIn {
  color: #f7a0f7;
}
a svg:hover .svg-blog {
 color: #e5da85;
}
a svg:hover .svg-ig {
color: #5e91ff;
}
a svg:hover .svg-fb {
  color: #3ed89b;
}

a svg .svg-mail,
a svg .svg-mail,
a svg .svg-blog,
a svg .svg-ig,
a svg .svg-fb
 {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.grid-item {

}

.parallax {
  background-image: url("https://cdn.dribbble.com/users/131989/screenshots/3505133/sittingonpool_dribble_v02.mp4.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-surf {
  font-size: 50px;
  padding: 30px;
  color: #dbd878;
}

.parallax2 {
  background-image: url("https://cdn.dribbble.com/users/40298/screenshots/3861789/drawing-lines.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-clothing {
  font-size: 50px;
  padding: 30px;
  color: #b173ba;
}

.parallax3 {
  background-image: url("https://cdn.dribbble.com/users/131989/screenshots/3313682/hairstyle_01_dribble_v01_1x.png");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-adventure {
  font-size: 50px;
  padding: 30px;
  color: #78dba1;
}

.parallax4 {
  background-image: url("https://cdn.dribbble.com/users/948894/screenshots/2381305/dribblewalk.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-ceramics {
  font-size: 50px;
  padding: 30px;
  color: #f96645;
}

.parallax5 {
  background-image: url("https://cdn.dribbble.com/users/131989/screenshots/3632482/plantinspo-v02-dribble.mp4.gif");
  min-height: 700px;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax6 {
  background-image: url("https://cdn.dribbble.com/users/131989/screenshots/3632482/plantinspo-v02-dribble.mp4.gif");
  min-height: 100px;
  height: 20%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.details {
  height:200px;
}

.svg-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
